<% include ./partials/header.ejs %>

 <div class = "row text-center" style= "display:flex; flex-wrap:wrap;">
      <div class= "col-lg-12">
       <h3>Welcome to Yelp Camp</h3>
      </div>
    </div>
   

<h2>Login!!</h2>

<form action ='/login' method='POST'>
   <input type ='text' name = 'username' placeholder = 'username'>
   <input type = 'password' name = 'password' placeholder = 'password'>
   <input type = 'submit' value = 'login!!'>
  
</form>

 <a href="/campgrounds">Go Back !!</a>

<% include ./partials/footer.ejs %>