<% include ./partials/header.ejs %>

<div class = "row text-center" style= "display:flex; flex-wrap:wrap;">
      <div class= "col-lg-12">
       <h3>Welcome to Yelp Camp</h3>
      </div>
    </div>
    
<h2>Sign Up!!!! !!!</h2>

<form action ='/register' method='POST'>
   <input type ='text' name = 'username' placeholder = 'username'>
   <input type = 'password' name = 'password' placeholder = 'password'>
   <button>Sign Up</button>
</form>

<% include ./partials/footer.ejs %>